<!DOCTYPE html>

<html>

	<head>
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/default.css') }}">
	</head>

<body>
	{% include "navbar.html" %}
	<style>
    background: url("{{ url_for('static', filename='assets/bg.jpg') }}") no-repeat 0px 0px;
	</style>


	<p> some text </p>


	<iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/ad324632-afe2-469c-8960-31e592c6f3ea">
</iframe>
</body>
</html>
